@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(range) {
  display: flex;
  position: relative;
  flex-grow: 1;
}
