@use '../../mixins' as *;

@include b(range) {
  display: flex;
  flex-wrap: wrap;
  @include setVars(
    (
      thumb-factor: 0.5,
    )
  );
  @include declareReuseVars(
    (
      size: size,
      factor: thumb-factor,
    )
  );
  @include m(horizontal) {
    margin-inline: calc((getReuseVar(thumb-factor) + 0.5) * getReusseVar(size));
    @include e(rail) {
      flex: 1 1 100%;
      @include declareVars(
        (
          height: size,
        )
      );
      @include declareVarValues(
        (
          // 2px box-shadow
          margin-block: calc(getReuseVar(thumb-factor) * getReuseVar(size) + 2px)
        )
      );
    }
    @include e(track) {
      height: 100%;
      inset-inline-start: calc(getVarValue((range, min)) * 100%);
      inset-inline-end: calc((1 - getVarValue((range, max))) * 100%);
    }
    @include e(thumb) {
      transform: translateX(-50%);
      inset-inline-start: calc(getVarValue((range, percent)) * 100%);
    }
    @include e(labels) {
      flex: 1 1 100%;
      @include declareVarValues(
        (
          margin-block-end: (
            label-margin-block-end,
            getRVarValue(max-label-height),
          ),
        )
      );
    }
    @include e(label) {
      transform: translateX(-50%);
      inset-inline-start: calc(getVarValue((range, percent)) * 100%);
    }
  }
  @include m(vertical) {
    margin-block: calc((getReuseVar(thumb-factor) + 0.5) * getReuseVar(size));
    @include e(rail) {
      flex-direction: column;
      @include declareVars(
        (
          width: size,
        )
      );
      @include declareVarValues(
        (
          margin-inline: calc(getReuseVar(thumb-factor) * getReuseVar(size) + 2px),
        )
      );
    }
    @include e(track) {
      width: 100%;
      inset-block-start: calc(getVarValue((range, min)) * 100%);
      inset-block-end: calc((1 - getVarValue((range, max))) * 100%);
    }
    @include e(thumb) {
      transform: translateY(-50%);
      inset-block-start: calc(getVarValue((range, percent)) * 100%);
    }
    @include e(labels) {
      flex-direction: column;
      @include declareVarValues(
        (
          margin-inline-end: (
            label-margin-inline-end,
            getRVarValue(max-label-width),
          ),
        )
      );
    }
    @include e(label) {
      transform: translateY(-50%);
      inset-block-start: calc(getVarValue((range, percent)) * 100%);
      text-align: end;
    }
  }

  @at-root {
    :host(:not([type='vertical'])) {
      display: block;
      width: 100%;
    }

    :host([type='vertical']) {
      display: inline-flex;
      @include declareVarValues(
        (
          height: 100px,
        )
      );
    }
  }

  @include e(rail) {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    user-select: none;
    touch-action: none;
    @include declareVarValues(
      (
        background-color: getGrayColor(a3),
        border-radius: Max(getRadiusFactor() * getRadiusThumb(), getRadiusFactor() * getReuseVar(size) / 3),
      )
    );
  }

  @include e(track) {
    position: absolute;
    border-radius: inherit;
    background-color: getAccentColor(a9); // TODO radix-theme uses accent-track...
  }

  @include e(thumb) {
    position: absolute;
    outline: none;
    @include reuseVars(
      (
        width: size,
        height: size,
      )
    );

    $thumb-shadow: 0 0 0 1px getColor('black', a4);
    &::after {
      content: '';
      position: absolute;
      background: white;
      border-radius: getRadiusValue(1, 'thumb');
      box-shadow: $thumb-shadow;
      inset: calc(-1 * getReuseVar(thumb-factor) * getReuseVar(size));
      cursor: move;
    }
    &:focus::after {
      box-shadow: $thumb-shadow, 0 0 0 3px getAccentColor(3), 0 0 0 5px getFocusColor();
    }
  }

  @include e(labels) {
    position: relative;
    display: flex;
  }

  @include e(label) {
    position: absolute;
    @include declareVars((line-height));
  }

  @include e(tooltip) {
    &::part(popover-content) {
      transition: none; // disable popover's transition, or it will be too laggy
    }
  }

  @include is(disabled) {
    @include e(thumb) {
      &::after {
        cursor: getDisabledCursor();
      }
    }
  }
  @include is(readonly) {
    @include e(thumb) {
      &::after {
        cursor: auto;
      }
    }
  }

  @include size(1) {
    @include setVars(
      (
        size: calc(#{getSpaceValue(2)} * 0.75),
        line-height: getLineHeightValue(1),
        font-size: getFontSizeValue(1),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        size: getSpaceValue(2),
        line-height: getLineHeightValue(2),
        font-size: getFontSizeValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        size: calc(#{getSpaceValue(2)} * 1.25),
        line-height: getLineHeightValue(3),
        font-size: getFontSizeValue(3),
      )
    );
  }
}
