@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: contents;
}

@include b(tab-item) {
  overflow: auto;
  grid-area: 1/1;
}
