@use '../../mixins' as *;

@include b(tag) {
  @include variant(outline) {
    box-shadow: inset 0 0 0 1px getAccentColor(a8);
    color: getAccentColor(a11);

    @include is(high-contrast, true) {
      box-shadow: inset 0 0 0 1px getAccentColor(a7), inset 0 0 0 1px getGrayColor(a11);
      color: getAccentColor(12);
    }

    :host(:focus-visible) &, &:focus-visible {
      outline: getAccentColor(a8) 1px solid;
    }
  }
}
