@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(tag) {
  @include variant(soft) {
    background-color: getAccentColor(a3);
    color: getAccentColor(a11);

    @include is(high-contrast, true) {
      color: getAccentColor(12);
    }

    :host(:focus-visible) &, &:focus-visible {
      outline: getAccentColor(a8) 2px solid;
    }
  }
}
