@use '../../mixins' as *;

@include b(tag) {
  @include variant(solid) {
    background-color: getAccentColor(9);
    color: getAccentColor(contrast);

    @include is(high-contrast, true) {
      background-color: getAccentColor(12);
      color: getAccentColor(1);
    }

    :host(:focus-visible) &, &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px getAccentColor(7); // a8 looks same as 9 when it's dark, use 7 instead
    }
  }
}
