@use '../../mixins' as *;

:host {
  display: flex; // to fix width issue for sticky
  overflow: auto;
  flex-grow: 1;
}

@include b(table) {
  position: relative;
  flex: 1;
  transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
  @include declareVars((font-size));

  @at-root {
    :host {
      box-shadow: 0 0 0 0.5px getGrayColor(5);
      border-radius: getRadiusValue(3);
    }
  }

  @include e(resizer) {
    width: 2px;
    cursor: col-resize;
    user-select: none;
    background: getAccentColor(9);
    inset-block: 0;
    z-index: 5;
  }

  @include size(1) {
    @include setVars(
      (
        font-size: getFontSizeValue(2),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        font-size: getFontSizeValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        font-size: getFontSizeValue(3),
      )
    );
  }
}
