@use '../../mixins' as *;

:host {
  display: flex; // to fix width issue for sticky
  overflow: auto;
  flex-grow: 1;
}

@include b(table) {
  position: relative;
  flex: 1;
  transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
  background: getSemanticColor('background');
  @include declareVars((font-size));

  @at-root {
    :host {
      outline: 1.5px solid getGrayColor(5);
      outline-offset: -1px;
      border-radius: getRadiusValue(3);
      scrollbar-width: thin;
      scrollbar-color: getGrayColor(8) getSemanticColor('background');
    }
    // :host::-webkit-scrollbar {
    //   border-radius: getRadiusValue(3);
    // }
    // :host::-webkit-scrollbar-button {
    //   background: getGrayColor(8);
    // }
    // :host::-webkit-scrollbar-thumb {
    //   background: getGrayColor(8);
    // }
    // :host::-webkit-scrollbar-track {
    //   background: getSemanticColor('background');
    // }
  }

  @include e(resizer) {
    width: 2px;
    cursor: col-resize;
    user-select: none;
    background: getAccentColor(9);
    inset-block: 0;
    z-index: 5;
  }

  @include size(1) {
    @include setVars(
      (
        font-size: getFontSizeValue(2),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        font-size: getFontSizeValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        font-size: getFontSizeValue(3),
      )
    );
  }
}
