@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: contents; // it's for 'hideOptionWhenSelected' feature. Although we set display:none in shadow dom, we can't set 'display: none' for option element, and that will lead to an extra flex gap
}

@include b(select-option) {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  @include declareVars(
    (height, line-height, font-size, letter-spacing, border-radius, padding-inline-start, padding-inline-end)
  );

  &[hidden] {
    display: none;
  }

  @include e(label) {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include is(active) {
    background-color: getGrayColor(5);
  }

  &#{getIs(selected)}:not(#{getIs(disabled)}) {
    background-color: getAccentColor(9);
    color: getContrastColor(accent);
    &#{getIs(active)} {
      background-color: getAccentColor(10);
    }
  }

  @include is(disabled) {
    cursor: getDisabledCursor();
    color: getGrayColor(a8);
  }

  @include size(1) {
    @include setVars(
      (
        height: getSpaceValue(5),
        line-height: getLineHeightValue(1),
        font-size: getFontSizeValue(1),
        letter-spacing: getLetterSpacingValue(1),
        border-radius: getRadiusValue(2),
        padding-inline-start: getSpaceValue(2),
        padding-inline-end: getSpaceValue(2),
      )
    );
    @include is(under-group) {
      @include setVars(
        (
          padding-inline-start: getSpaceValue(4),
        )
      );
    }
  }
  @include size(2) {
    @include setVars(
      (
        height: getSpaceValue(6),
        line-height: getLineHeightValue(2),
        font-size: getFontSizeValue(2),
        letter-spacing: getLetterSpacingValue(2),
        border-radius: getRadiusValue(2),
        padding-inline-start: getSpaceValue(3),
        padding-inline-end: getSpaceValue(2),
      )
    );
    @include is(under-group) {
      @include setVars(
        (
          padding-inline-start: getSpaceValue(5),
        )
      );
    }
  }
  @include size(3) {
    @include setVars(
      (
        height: getSpaceValue(7),
        line-height: getLineHeightValue(3),
        font-size: getFontSizeValue(3),
        letter-spacing: getLetterSpacingValue(3),
        border-radius: getRadiusValue(3),
        padding-inline-start: getSpaceValue(4),
        padding-inline-end: getSpaceValue(2),
      )
    );
    @include is(under-group) {
      @include setVars(
        (
          padding-inline-start: getSpaceValue(6),
        )
      );
    }
  }
}
