@media (prefers-reduced-motion: no-preference) {
  .fade-enter-active,
  .fade-leave-active {
    transition: 0.15s opacity;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
  }

  .bgFade-enter-active,
  .bgFade-leave-active {
    transition: 0.15s background-color;
  }

  .bgFade-enter-from,
  .bgFade-leave-to {
    background-color: transparent;
  }

  .scale-enter-active,
  .scale-leave-active {
    transition: 0.15s scale, 0.15s opacity;
  }
  .scale-enter-from,
  .scale-leave-to {
    scale: 0.8;
    opacity: 0;
  }
  .scale-enter-to,
  .scale-leave-from {
    scale: 1;
    opacity: 1;
  }

  .scaleOut-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .scaleOut-leave-to {
    transform: scale(0);
    opacity: 0;
  }

  .scaleDown-enter-active,
  .scaleDown-leave-active {
    transition: 0.15s scale, 0.15s opacity;
    transform-origin: top center;
  }
  .scaleDown-enter-from,
  .scaleDown-leave-to {
    scale: 1 0.8;
    opacity: 0;
  }
  .scaleDown-enter-to,
  .scaleDown-leave-from {
    scale: 1 1;
    opacity: 1;
  }

  // ---slideLeft---
  .slideLeft-enter-active,
  .slideLeft-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .slideLeft-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }
  .slideLeft-enter-from {
    transform: translateX(100%);
    opacity: 0;
  }
  .slideLeft-enter-to,
  .slideLeft-leave-from {
    transform: translateX(0);
    opacity: 1;
  }
  // ---slideLeft---

  // ---slideRight---
  .slideRight-enter-active,
  .slideRight-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .slideRight-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }
  .slideRight-enter-from {
    transform: translateX(-100%);
    opacity: 0;
  }
  .slideRight-enter-to,
  .slideRight-leave-from {
    transform: translateX(0);
    opacity: 1;
  }
  // ---slideRight---

  // ---slideUp---
  .slideUp-enter-active,
  .slideUp-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .slideUp-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }
  .slideUp-enter-from {
    transform: translateY(100%);
    opacity: 0;
  }
  .slideUp-enter-to,
  .slideUp-leave-from {
    transform: translateY(0);
    opacity: 1;
  }
  // ---slideUp---

  // ---slideDown---
  .slideDown-enter-active,
  .slideDown-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .slideDown-leave-to {
    transform: translateY(100%);
    opacity: 0;
  }
  .slideDown-enter-from {
    transform: translateY(-100%);
    opacity: 0;
  }
  .slideDown-enter-to,
  .slideDown-leave-from {
    transform: translateY(0);
    opacity: 1;
  }
  // ---slideDown---

  @supports not (scale: 1) {
    .scale-enter-active,
    .scale-leave-active {
      transition: 0.15s transform, 0.15s opacity;
    }
    .scale-enter-from,
    .scale-leave-to {
      transform: scale(0.8);
    }
    .scale-enter-to,
    .scale-leave-from {
      transform: scale(1);
    }

    .scaleDown-enter-active,
    .scaleDown-leave-active {
      transition: 0.15s transform, 0.15s opacity;
    }
    .scaleDown-enter-from,
    .scaleDown-leave-to {
      transform: scaleY(0.8);
    }
    .scaleDown-enter-to,
    .scaleDown-leave-from {
      transform: scaleY(1);
    }
  }
}
