@media (prefers-reduced-motion: no-preference) {
  .fade-enter-active,
  .fade-leave-active {
    transition: 0.15s opacity;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
  }

  .bgFade-enter-active,
  .bgFade-leave-active {
    transition: 0.25s background-color;
  }

  .bgFade-enter-from,
  .bgFade-leave-to {
    background-color: transparent;
  }

  .scale-enter-active,
  .scale-leave-active {
    transition: 0.15s scale, 0.15s opacity;
  }
  .scale-enter-from,
  .scale-leave-to {
    scale: 0.8;
    opacity: 0;
  }
  .scale-enter-to,
  .scale-leave-from {
    scale: 1;
    opacity: 1;
  }

  .scaleOut-leave-active {
    transition: 0.3s transform, 0.3s opacity;
  }
  .scaleOut-leave-to {
    transform: scale(0);
    opacity: 0;
  }

  .slideDown-enter-active,
  .slideDown-leave-active {
    transition: 0.15s scale, 0.15s opacity;
    transform-origin: top center;
  }
  .slideDown-enter-from,
  .slideDown-leave-to {
    scale: 1 0.8;
    opacity: 0;
  }
  .slideDown-enter-to,
  .slideDown-leave-from {
    scale: 1 1;
    opacity: 1;
  }

  @supports not (scale: 1) {
    .scale-enter-active,
    .scale-leave-active {
      transition: 0.15s transform, 0.15s opacity;
    }
    .scale-enter-from,
    .scale-leave-to {
      transform: scale(0.8);
    }
    .scale-enter-to,
    .scale-leave-from {
      transform: scale(0.8);
    }

    .slideDown-enter-active,
    .slideDown-leave-active {
      transition: 0.15s transform, 0.15s opacity;
    }
    .slideDown-enter-from,
    .slideDown-leave-to {
      transform: scaleY(0.8);
    }
    .slideDown-enter-to,
    .slideDown-leave-from {
      transform: scaleY(1);
    }
  }
}
