@use '../mixins/config' as *;
@use '../mixins/theme' as *;
@use 'sass:list';

:host {
  // font size
  @for $i from 1 through list.length($font-size-list) {
    $size: list.nth($font-size-list, $i);
    #{getFontSizeVarName()}-#{$i}: calc(#{$size} * #{getScaleValue()});
  }

  // font-weight
  @each $name, $weight in $font-weight-map {
    #{getFontWeightVarName()}-#{$name}: $weight;
  }

  // letter spacing
  @for $i from 1 through list.length($letter-spacing-list) {
    $size: list.nth($letter-spacing-list, $i);
    #{getLetterSpacingVarName()}-#{$i}: calc(#{$size} * #{getScaleValue()});
  }

  // line height
  @for $i from 1 through list.length($line-height-list) {
    $size: list.nth($line-height-list, $i);
    #{getLineHeightVarName()}-#{$i}: calc(#{$size} * #{getScaleValue()});
  }
}
