@use '../../mixins' as *;

// ----------------- type=password -----------------
@include b(input) {
  @include m(password) {
    @include e(inner-input) {
      // hide browser's password icon
      &::-ms-reveal {
        display: none;
      }
      // &::-webkit-credentials-auto-fill-button
    }

    @include e(pwd-icon) {
      cursor: pointer;
    }

    @include is(disabled) {
      @include e(pwd-icon) {
        color: getGrayColor(a8);
        cursor: getDisabledCursor();
      }
    }
  }
}
