@use '../../mixins' as *;

// ----------------- type=number -----------------
@include b(input) {
  @include m((number, number-text)) {
    @include e(inner-input) {
      // hide number input's arrow
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
    @include e(steps-wrapper) {
      display: flex;
      flex-direction: column;
      z-index: 1;
      cursor: pointer;
      @include declareVars(
        (
          block-size: block-size,
          padding-inline-end: slot-padding-inline,
        )
      );
    }
    @include e(step) {
      cursor: pointer;
      @include hover {
        transform: scale(1.2);
        transition: scale 0.2s ease;
      }
    }
    @include is(disabled) {
      @include e(step) {
        color: getGrayColor(a8);
        cursor: getDisabledCursor();
        transform: none;
      }
    }
    @include e(arrow) {
      height: 50%;
    }
  }
}
