@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(input) {
  @include variant(soft) {
    color: getAccentColor(12);
    @include e(background) {
      background-color: getAccentColor(a3);
      padding: 1px;
      background-clip: content-box;
    }

    @include e(inner-input) {
      &::placeholder {
        color: getAccentColor(12);
        opacity: 0.6;
      }
    }

    @include is(disabled) {
      @include e(background) {
        background-color: getGrayColor(a4);
      }
    }
  }
}
