@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(input) {
  @include variant(surface) {
    color: getGrayColor(12);
    @include e('background') {
      background-color: getSemanticColor('surface');
      box-shadow: inset 0 0 0 1px getGrayColor(a7);
      padding: 1px;
      background-clip: content-box;
    }

    @include e(addon) {
      &#{getIs(not-empty)} {
        background-color: getSemanticColor('surface');
        border: 1px solid getGrayColor(a7);
        background-clip: content-box;
      }
    }

    @include e(prepend) {
      border-inline-end: none;
    }

    @include e(append) {
      border-inline-start: none;
    }

    @include is(disabled) {
      @include e('background') {
        background-image: linear-gradient(getGrayColor(a3), getGrayColor(a3));
      }
    }
  }
}
