@use '../mixins/config' as *;
@use '../mixins/function' as *;
@use '../mixins/theme' as *;

#{$theme-provider-el-name} {
  $factor: getVarName(($radius-name, factor));
  $full: getVarName($radius-full-name);
  $thumb: getVarName($radius-thumb-name);

  #{$factor}: 0;

  @at-root {
    [#{$radius-name}='none'] {
      #{$factor}: 0;
      #{$full}: 0px;
      #{$thumb}: 0.5px;
    }

    [#{$radius-name}='small'] {
      #{$factor}: 0.75;
      #{$full}: 0px;
      #{$thumb}: 0.5px;
    }

    [#{$radius-name}='medium'],
    &:not([#{$radius-name}]) {
      #{$factor}: 1;
      #{$full}: 0px;
      #{$thumb}: 9999px;
    }

    [#{$radius-name}='large'] {
      #{$factor}: 1.5;
      #{$full}: 0px;
      #{$thumb}: 9999px;
    }

    [#{$radius-name}='full'] {
      #{$factor}: 1.5;
      #{$full}: 9999px;
      #{$thumb}: 9999px;
    }
  }

  @for $i from 1 through length($radius-list) {
    $size: nth($radius-list, $i);
    #{getVarName(($radius-name, $i))}: calc(#{$size} * #{getScaleValue()} * var(#{$factor}));
  }
}
