@use '../mixins/config' as *;
@use '../mixins/theme' as *;
@use '../mixins/function' as *;
@use 'sass:map';

#{$theme-provider-el-name} {
  // default accent color
  $color: $default-accent-color;
  &:not([#{$accent-color-name}]) {
    @include generateThemeColor($color, true);
  }
  @include generateStatusColor();

  // map gray colors
  @each $color in $gray-color-list {
    @include mapGrayColor($color);
  }
  // default gray color
  &:not([#{$gray-color-name}]) {
    @include mapGrayColor($default-gray-color, true);
  }

  // contrast color
  @include generateContrastColor();

  // semantic colors
  @include lightTheme(true) {
    color-scheme: light;
    @include semanticColor('background', white);
    @include semanticColor('overlay', getColor('black', 'a6'));
    @include semanticColor('panel-solid', white);
    @include semanticColor('panel-translucent', rgba(255, 255, 255, 0.8));
    @include semanticColor('surface', rgba(255, 255, 255, 0.9));
    --#{$namespace}-gray-surface: #ffffffcc;
    --#{$namespace}-mauve-surface: #ffffffcc;
    --#{$namespace}-slate-surface: #ffffffcc;
    --#{$namespace}-sage-surface: #ffffffcc;
    --#{$namespace}-olive-surface: #ffffffcc;
    --#{$namespace}-sand-surface: #ffffffcc;
    --#{$namespace}-tomato-surface: #fff6f5cc;
    --#{$namespace}-red-surface: #fff5f5cc;
    --#{$namespace}-ruby-surface: #fff5f6cc;
    --#{$namespace}-crimson-surface: #fef5f8cc;
    --#{$namespace}-pink-surface: #fef5facc;
    --#{$namespace}-plum-surface: #fdf5fdcc;
    --#{$namespace}-purple-surface: #faf5fecc;
    --#{$namespace}-violet-surface: #f9f6ffcc;
    --#{$namespace}-iris-surface: #f6f6ffcc;
    --#{$namespace}-indigo-surface: #f5f8ffcc;
    --#{$namespace}-blue-surface: #f1f9ffcc;
    --#{$namespace}-cyan-surface: #eff9facc;
    --#{$namespace}-teal-surface: #f0faf8cc;
    --#{$namespace}-jade-surface: #f1faf5cc;
    --#{$namespace}-green-surface: #f1faf4cc;
    --#{$namespace}-grass-surface: #f3faf3cc;
    --#{$namespace}-brown-surface: #fbf8f4cc;
    --#{$namespace}-bronze-surface: #fdf5f3cc;
    --#{$namespace}-gold-surface: #f9f8efcc;
    --#{$namespace}-sky-surface: #eef9fdcc;
    --#{$namespace}-mint-surface: #effaf8cc;
    --#{$namespace}-lime-surface: #f6f9f0cc;
    --#{$namespace}-yellow-surface: #fefbe4cc;
    --#{$namespace}-amber-surface: #fefae4cc;
    --#{$namespace}-orange-surface: #fff5e9cc;
  }
  @include lightTheme(false) {
    color-scheme: dark;
    @include semanticColor('background', getColor('gray', 1));
    @include semanticColor('overlay', getColor('black', 'a8'));
    @include semanticColor('panel-solid', getColor('gray', 2));
    // @include semanticColor('panel-translucent', rgba(255, 255, 255, 0.8));
    @include semanticColor('surface', rgba(0, 0, 0, 0.25));
    --#{$namespace}-gray-surface: #21212180;
    --#{$namespace}-mauve-surface: #22212380;
    --#{$namespace}-slate-surface: #1f212380;
    --#{$namespace}-sage-surface: #1e201f80;
    --#{$namespace}-olive-surface: #1f201e80;
    --#{$namespace}-sand-surface: #21212080;
    --#{$namespace}-tomato-surface: #2d191580;
    --#{$namespace}-red-surface: #2f151780;
    --#{$namespace}-ruby-surface: #2b191d80;
    --#{$namespace}-crimson-surface: #2f151f80;
    --#{$namespace}-pink-surface: #31132980;
    --#{$namespace}-plum-surface: #2f152f80;
    --#{$namespace}-purple-surface: #2b173580;
    --#{$namespace}-violet-surface: #25193980;
    --#{$namespace}-iris-surface: #1d1b3980;
    --#{$namespace}-indigo-surface: #171d3b80;
    --#{$namespace}-blue-surface: #11213d80;
    --#{$namespace}-cyan-surface: #11252d80;
    --#{$namespace}-teal-surface: #13272580;
    --#{$namespace}-jade-surface: #13271f80;
    --#{$namespace}-green-surface: #15251d80;
    --#{$namespace}-grass-surface: #19231b80;
    --#{$namespace}-brown-surface: #271f1b80;
    --#{$namespace}-bronze-surface: #27211d80;
    --#{$namespace}-gold-surface: #25231d80;
    --#{$namespace}-sky-surface: #13233b80;
    --#{$namespace}-mint-surface: #15272780;
    --#{$namespace}-lime-surface: #1b211580;
    --#{$namespace}-yellow-surface: #231f1380;
    --#{$namespace}-amber-surface: #271f1380;
    --#{$namespace}-orange-surface: #271d1380;
  }
}

@each $color in $color-list {
  @include generateThemeColor($color);
}
