@use '../../mixins' as *;

button {
  appearance: none;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

@include b(pagination) {
  display: flex;
  flex-wrap: nowrap;
  height: getDeclaredVar(button-size);
  @include declareVarValues(
    (
      gap: getSpaceValue(1),
    )
  );
  @include declareReuseVars((button-size));

  @include e(button) {
    width: getDeclaredVar(button-size);
    cursor: pointer;
    @include declareVars(
      (
        border-radius: button-border-radius,
      )
    );
    @include is(disabled) {
      cursor: getDisabledCursor();
      & * {
        pointer-events: none;
      }
    }
  }

  @include size(1) {
    @include setVars(
      (
        button-size: getSpaceValue(6),
        button-border-radius: getRadiusValue(1, 'full'),
      )
    );
  }

  @include size(2) {
    @include setVars(
      (
        button-size: calc(getSpaceValue(6) + 4px),
        button-border-radius: getRadiusValue(2, 'full'),
      )
    );
  }

  @include size(3) {
    @include setVars(
      (
        button-size: getSpaceValue(7),
        button-border-radius: getRadiusValue(3, 'full'),
      )
    );
  }
}
