@use '../../mixins' as *;

@include b(pagination) {
  @include variant(surface) {
    @include e(button) {
      &:focus-visible {
        outline: 2px solid getFocusColor();
        outline-offset: -1px;
      }
      @include hover {
        background-color: getGrayColor(a3);
      }

      @include is(current) {
        color: getAccentColor(a11);
        background-color: getAccentColor(surface);
        box-shadow: inset 0 0 0 1px getAccentColor(a7);
        @include hover {
          box-shadow: inset 0 0 0 1px getAccentColor(a8);
        }
        @include active {
          box-shadow: inset 0 0 0 1px getAccentColor(a8);
          background-color: getAccentColor(a3);
        }
      }
      @include is(disabled) {
        color: getGrayColor(a8);
        background-color: transparent;
      }
      @include is((disabled, current)) {
        box-shadow: inset 0 0 0 1px getGrayColor(a6);
        background-color: getGrayColor(a2);
      }
    }

    @include is(high-contrast, true) {
      @include e(button) {
        @include is(current) {
          color: getAccentColor(12);
        }
      }
    }
  }
}
