@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(button) {
  @include variant(ghost) {
    color: getAccentColor(a11);

    @include hover(getIs(disabled)) {
      background-color: getAccentColor(a3);;
    }
    @include active {
      background-color: getAccentColor(a4);
    }
    &:focus-visible {
      outline: 2px solid getFocusColor();
      outline-offset: -1px;
    }

    @include is(high-contrast, true) {
      color: getAccentColor(12);
    }

    @include is(disabled, true) {
      color: getGrayColor(a8);
    }
  }
}
