@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(form-item) {
}

:host-context(#{getIs(layout-grid)}) {
  display: contents;
  @include b(form-item) {
    display: contents;

    @include e(label) {
      display: inline-block;
    }
  }
}
