@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;
@use './basic-common.scss';

@include b(form-item) {
  @include e(required-mark) {
    @include declareVars(
      (
        color: required-mark-color,
      )
    );
  }

  @include setVars(
    (
      required-mark-color: getSemanticColor(error),
    )
  );

  @include e(label) {
    @include declareVars(
      (
        line-height: label-line-height,
        font-size: label-font-size,
      )
    );
  }

  @include e(content) {
    display: flex;
    flex-wrap: wrap;
    @include declareVars(
      (
        line-height: content-line-height,
      )
    );
  }

  @include declareReuseVars((tips-margin-block-start));
  @include e(tips) {
    flex: 1 0 100%;
    @include reuseVars(
      (
        margin-block-start: tips-margin-block-start,
      )
    );
  }
  @include e(help) {
    @include reuseVars(
      (
        margin-block-start: tips-margin-block-start,
      )
    );
  }

  @include e(line-tip) {
    flex: 1 0 100%;
    color: getGrayColor(11);
    @include declareVars(
      (
        line-height: line-tip-line-height,
        font-size: line-tip-font-size,
      )
    );
    @include is(status-message) {
      display: flex;
      align-items: center;
      @include declareVars(
        (
          gap: line-status-message-gap,
        )
      );
    }
  }

  @include size(1) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(1),
        label-line-height: getSpaceValue(5),
        content-line-height: getSpaceValue(5),
        line-tip-line-height: getLineHeightValue(1),
        line-tip-font-size: getFontSizeValue(1),
      )
    );
    @include is(vertical-label) {
      @include setVars(
        (
          label-line-height: getSpaceValue(4),
        )
      );
    }
  }
  @include size(2) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(2),
        label-line-height: getSpaceValue(6),
        content-line-height: getSpaceValue(6),
        line-tip-line-height: getLineHeightValue(2),
        line-tip-font-size: getFontSizeValue(2),
        line-status-message-gap: getSpaceValue(1),
        tips-margin-block-start: getSpaceValue(1),
      )
    );
    @include is(vertical-label) {
      @include setVars(
        (
          label-line-height: getSpaceValue(5),
        )
      );
    }
  }
  @include size(3) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(3),
        label-line-height: getSpaceValue(7),
        content-line-height: getSpaceValue(7),
        line-tip-line-height: getLineHeightValue(3),
        line-tip-font-size: getFontSizeValue(3),
        line-status-message-gap: getSpaceValue(2),
        tips-margin-block-start: getSpaceValue(2),
      )
    );
    @include is(vertical-label) {
      @include setVars(
        (
          label-line-height: getSpaceValue(6),
        )
      );
    }
  }
}
