@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(form-item) {
  @include e(required-mark) {
    @include declareVars(
      (
        color: required-mark-color,
      )
    );
  }

  @include setVars(
    (
      required-mark-color: getSemanticColor(error),
    )
  );

  @include e(label) {
    @include declareVars(
      (
        line-height: label-line-height,
        font-size: label-font-size,
      )
    );
  }

  @include e(content) {
    @include declareVars(
      (
        line-height: content-line-height,
      )
    );
  }

  @include size(1) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(1),
        label-line-height: getSpaceValue(5),
        content-line-height: getSpaceValue(5),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(2),
        label-line-height: getSpaceValue(6),
        content-line-height: getSpaceValue(6),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        label-font-size: getFontSizeValue(3),
        label-line-height: getSpaceValue(7),
        content-line-height: getSpaceValue(7),
      )
    );
  }
}

:host-context(#{getIs(layout-grid)}) {
  display: contents;
  @include b(form-item) {
    display: contents;

    @include e(label) {
      display: inline-block;
    }
  }
}
