@use '../../mixins' as *;
@use './basic-common.scss';

@include b(form-item) {
  @include e(tips) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include declareVars(
      (
        gap: tips-gap,
      )
    );
  }
  @include e(form-tooltip) {
    display: flex;
    align-items: center;
    @include declareVars(
      (
        font-size: form-tooltip-font-size,
        line-height: form-tooltip-font-size,
        gap: form-tooltip-gap,
      )
    );
  }
}

@include b(popover) {
  @include isN(entered, true, true) {
    // transition must be after popover has entered, same reason as popover. Or initial this transition will make pop content shift
    .tips-move,
    .tips-enter-active,
    .tips-leave-active {
      transition: none;
    }
  }
  @include size(1) {
    @include setVars(
      (
        form-tooltip-line-height: getLineHeightValue(1),
        form-tooltip-font-size: getFontSizeValue(1),
        form-tooltip-gap: getSpaceValue(1),
        tips-gap: getSpaceValue(1),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        form-tooltip-line-height: getLineHeightValue(2),
        form-tooltip-font-size: getFontSizeValue(2),
        form-tooltip-gap: getSpaceValue(1),
        tips-gap: getSpaceValue(1),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        form-tooltip-line-height: getLineHeightValue(3),
        form-tooltip-font-size: getFontSizeValue(3),
        form-tooltip-gap: getSpaceValue(2),
        tips-gap: getSpaceValue(2),
      )
    );
  }
}
