@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(dialog) {
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;

  @include is(no-top-layer) {
    @include declareVars(z-index);
    @include setVars(
      (
        z-index: 1000,
      )
    );
    // copy from user agent dialog:-internal-dialog-in-top-layer
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 0px;
    max-width: calc(100% - 6px - 2em);
    max-height: calc(100% - 6px - 2em);
  }

  &::backdrop {
    // backdrop doesn't inherit any css variables, no possible way to inherit parent theme var https://github.com/whatwg/fullscreen/issues/124
    // SPEC updated backdrop inheritance, but browsers haven't fixed them https://wpt.fyi/results/html/semantics/interactive-elements/the-dialog-element/backdrop-inherits.html?label=experimental&label=master&aligned
    // https://stackoverflow.com/questions/58818299/css-variables-not-working-in-dialogbackdrop
    // background-color: getSemanticColor('mask');
    background-color: transparent;
  }
  // so don't use backdrop, add another element as mask
  @include e(mask) {
    position: fixed;
    background-color: getSemanticColor('mask');
    transition: background-color 0.25s;
    inset: 0px;
  }

  @include e(panel) {
    position: relative;
    z-index: 2;
    background-color: getSemanticColor('panel-solid');
    outline: none;
  }

  @include e(close) {
    position: absolute;
  }

  @include e(header) {
    display: flex;
    margin-block-end: getSpaceValue(1);
    // font-weight: getFontWeightValue(medium);
    // font-size: getFontSizeValue(2);
  }
  @include e(content) {
  }
  @include e(footer) {
    display: flex;
    justify-content: flex-end;
  }

  @include size(1) {
    @include e(panel) {
      padding: getSpaceValue(3);
      border-radius: getRadiusValue(1);
    }
    @include e(footer) {
      gap: getSpaceValue(3);
    }
    @include e(close) {
      inset-block-start: getSpaceValue(3);
      inset-inline-end: getSpaceValue(3);
    }
  }
  @include size(2) {
    @include e(panel) {
      padding: getSpaceValue(4);
      border-radius: getRadiusValue(2);
    }
    @include e(footer) {
      gap: getSpaceValue(4);
    }
    @include e(close) {
      inset-block-start: getSpaceValue(4);
      inset-inline-end: getSpaceValue(4);
    }
  }
  @include size(3) {
    @include e(panel) {
      padding: getSpaceValue(5);
      border-radius: getRadiusValue(3);
    }
    @include e(footer) {
      gap: getSpaceValue(5);
    }
    @include e(close) {
      inset-block-start: getSpaceValue(5);
      inset-inline-end: getSpaceValue(5);
    }
  }
}