@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(color-picker) {
  @include e(panel) {
    display: flex;
    flex-direction: column;
    @include declareVars(
      (
        width: panel-width,
      )
    );
  }
  @include e(palette) {
    position: relative;
    overflow: hidden;
    @include declareVars(
      (
        height: palette-height,
        border-radius: palette-border-radius,
      )
    );
  }
  @include e(saturation) {
    height: 100%;
  }
  @include e(thumb) {
    position: absolute;
    left: 0;
    top: 100%;
    cursor: move;
    transform: translate(-50%, -50%);
    border-radius: getRadiusValue(1, 'thumb');
    box-shadow: 0 0 0 2px white;
    @include declareVars(
      (
        width: thumb-size,
        height: thumb-size,
      )
    );
  }

  @include e(wrapper) {
    display: flex;
    align-items: center;
  }
  @include e(ranges) {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  @include e(preview) {
    @include declareVars(
      (
        width: preview-size,
        height: preview-size,
        border-radius: preview-border-radius,
      )
    );
  }

  @include size(1) {
    @include setVars(
      (
        panel-width: 200px,
        palette-height: 200px,
        thumb-size: getSpaceValue(2),
        palette-border-radius: getRadiusValue(1),
        preview-border-radius: getRadiusValue(1),
        preview-size: 20px,
      )
    );
  }

  @include size(2) {
    @include setVars(
      (
        panel-width: 234px,
        palette-height: 160px,
        thumb-size: calc(#{getSpaceValue(2)} * 1.5),
        palette-border-radius: getRadiusValue(1),
        preview-border-radius: getRadiusValue(1),
        preview-size: 30px,
      )
    );
  }

  @include size(3) {
    @include setVars(
      (
        panel-width: 200px,
        palette-height: 200px,
        thumb-size: calc(#{getSpaceValue(3)} * 1.5),
        palette-border-radius: getRadiusValue(1),
        preview-border-radius: getRadiusValue(1),
        preview-size: 40px,
      )
    );
  }
}
