@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: block;
}

@include b(form) {
  @include declareVars((gap));

  @include e(tooltip) {
    display: contents;
  }

  @include size(1) {
    @include setVars(
      (
        gap: getSpaceValue(1),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        gap: getSpaceValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        gap: getSpaceValue(3),
      )
    );
  }
}
