@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: block;
}

@include b(tabs) {
  display: flex;
  @include e(wrapper) {
    display: flex;
    scrollbar-width: none;
    position: relative;
    box-sizing: border-box;
    @include declareVars(
      (
        gap: wrapper-gap,
      )
    );
    @include declareVars((font-size, line-height));
    &::-webkit-scrollbar {
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      background-color: getAccentColor(9);
      left: getVarValue(tabs-active-tab-left);
      width: getVarValue(tabs-active-tab-width);
      transition: left 0.3s, width 0.3s;
    }
  }
  @include m(horizontal) {
    flex-direction: column;
    @include e(wrapper) {
      @include declareVars(
        (
          height: horizontal-wrapper-height,
        )
      );
    }
  }
  @include m(vertical) {
    @include e(wrapper) {
      flex-direction: column;
    }
  }

  @include e(tab) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    color: getGrayColor(a11);
    @include declareVars(
      (
        padding: tab-padding,
      )
    );
    @include hover {
      color: getGrayColor(12);
      background: getGrayColor(a3);
    }
    @include is(disabled) {
      cursor: not-allowed;
    }
    @include is(active) {
      color: getGrayColor(12);
    }
  }

  @include e(label) {
    @include declareReuseVars(
      (
        padding: label-padding,
        border-radius: label-border-radius,
      ),
      true
    );
  }

  @include e(content) {
    overflow: hidden;
    display: grid;
  }
  @include e(panel) {
    grid-area: 1/1;
  }

  @include size(1) {
    @include setVars(
      (
        horizontal-wrapper-height: getSpaceValue(6),
        wrapper-gap: getSpaceValue(1),
        tab-padding: getSpaceValue(2) getSpaceValue(3),
        font-size: getFontSizeValue(1),
        line-height: getLineHeightValue(1),
        label-border-radius: getRadiusValue(1)
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        horizontal-wrapper-height: getSpaceValue(7),
        wrapper-gap: getSpaceValue(2),
        tab-padding: getSpaceValue(3) getSpaceValue(4),
        font-size: getFontSizeValue(2),
        line-height: getLineHeightValue(2),
        label-border-radius: getRadiusValue(2)
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        horizontal-wrapper-height: getSpaceValue(8),
        wrapper-gap: getSpaceValue(3),
        tab-padding: getSpaceValue(4) getSpaceValue(5),
        font-size: getFontSizeValue(3),
        line-height: getLineHeightValue(3),
        label-border-radius: getRadiusValue(3)
      )
    );
  }
}
