@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(tabs) {
  @include variant(solid) {
    @include e(wrapper) {
      background: getGrayColor(a3);
      @include declareReuseVars((border-radius), true);
      &::after {
        background-color: getAccentColor(a9);
        left: getVarValue(tabs-active-tab-left);
        top: getVarValue(tabs-active-tab-top);
        width: getVarValue(tabs-active-tab-width);
        height: getVarValue(tabs-active-tab-height);
        @include reuseVars((border-radius));
      }
    }
    @include e(tab) {
      @include reuseVars((border-radius));
      @include is(active) {
        color: getAccentColor(contrast);
        z-index: 1;
      }
      @include hover {
        &::after {
          inset: 0;
        }
      }
    }
    @include e(label) {
    }

    @include setVars(
      (
        label-padding: 0,
      )
    );
    @include size(1, false) {
      @include setVars(
        (
          border-radius: getRadiusValue(3, 'full'),
          wrapper-padding: getSpaceValue(1),
        )
      );
    }
    @include size(2, false) {
      @include setVars(
        (
          border-radius: getRadiusValue(4, 'full'),
          wrapper-padding: getSpaceValue(1),
          tab-padding-block: getSpaceValue(1),
          tab-padding-inline: getSpaceValue(3),
        )
      );
    }
    @include size(3, false) {
      @include setVars(
        (
          border-radius: getRadiusValue(5, 'full'),
          wrapper-padding: getSpaceValue(2),
          tab-padding-block: getSpaceValue(2),
          tab-padding-inline: getSpaceValue(4),
        )
      );
    }
  }
}
