@use '../../mixins' as *;

:host {
  display: inline-block;
  position: relative;
}
@keyframes pulse {
  from {
    background: getGrayColor(3);
  }
  to {
    background: getGrayColor(4);
  }
}

@include b(skeleton) {
  animation: pulse 1s infinite alternate-reverse;
  border-radius: getRadiusValue(1, 'full');
  pointer-events: none;
  z-index: 1;
  position: absolute;
  inset: 0;

  @include is(hidden) {
    // we're using content-visibility: hidden to hide it, must clear its size value when hidden
    inset: unset;
  }
}
