@use '../../mixins' as *;

@include b(radio) {
  @include is(button) {
    @include hover(getIs(disabled)) {
      color: getAccentColor(9);
    }
  }

  @include is((button, checked)) {
    background-color: getSemanticColor(surface);
    color: getAccentColor(11);
  }
}
