@use '../../mixins' as *;

@include b(radio-group) {
  @include m(card) {
    @include size(1, false) {
      @include setVars(
        (
          gap: getSpaceValue(3),
          line-height: getLineHeightValue(2),
          font-size: getFontSizeValue(2),
        )
      );
    }
    @include size(2, false) {
      @include setVars(
        (
          gap: getSpaceValue(4),
          line-height: getLineHeightValue(2),
          font-size: getFontSizeValue(2),
        )
      );
    }
    @include size(3, false) {
      @include setVars(
        (
          gap: getSpaceValue(5),
          line-height: getLineHeightValue(3),
          font-size: getFontSizeValue(3),
        )
      );
    }
  }
}
