@use '../../mixins/theme' as *;
@use '../../mixins/config' as *;
@use '../../mixins/function' as *;

:host {
  $factor: getVarName(($radius-name, factor));
  $full: getVarName($radius-full-name);
  $thumb: getVarName($radius-thumb-name);

  @at-root {
    :host(:not([#{$radius-name}])) {
      #{$factor}: 1;
      #{$full}: 0px;
      #{$thumb}: 9999px;
    }
  }

  @for $i from 1 through length($radius-list) {
    $size: nth($radius-list, $i);
    #{getVarName(($radius-name, $i))}: calc(#{$size} * #{getScaleValue()} * var(#{$factor}));
  }
}
