@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: inline-flex;
  vertical-align: text-bottom;
}

@include b(checkbox-group) {
  display: inline-flex;
  @include declareVars(gap);

  @include is(vertical) {
    flex-direction: column;
  }

  @include size(1) {
    @include setVars(
      (
        gap: getSpaceValue(1),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        gap: getSpaceValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        gap: getSpaceValue(3),
      )
    );
  }
}
