@use '../../mixins' as *;

@include b(tree-item) {
  cursor: pointer;
  @include declareVars((border-radius));
  &:hover {
    background-color: getGrayColor(a3);
  }
  @include is(selected) {
    // background-color: getAccentColor(9);
    // color: getContrastColor(accent);
  }

  @include e(indent) {
    position: relative;
  }
  @include e(toggle) {
    position: absolute;
    inset-inline-end: 6px;
    font-size: 12px;
    inset-block-start: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transition: transform 0.3s;
    @include is(expanded) {
      transform: translateY(-50%);
    }
  }

  @include size(1) {
    @include setVars(
      (
        border-radius: getRadiusValue(2),
      )
    );
  }

  @include size(2) {
    @include setVars(
      (
        border-radius: getRadiusValue(2),
      )
    );
  }

  @include size(3) {
    @include setVars(
      (
        border-radius: getRadiusValue(3),
      )
    );
  }
}
