button {
  position: relative;
}

.hold-enter-from {
  width: 0;
}

.hold-enter-to {
  width: 100%;
}

.hold-enter-active {
  position: absolute;
  left: 0;
  height: 100%;
  transition-property: width;
  transition-timing-function: linear;
}

.hold-leave-active {
  display: none;
}
