@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

:host {
  display: inline-flex;
  min-inline-size: 0;
  flex: 1;
}

@include b(select) {
  display: inline-flex;
  min-inline-size: 0;
  flex: 1;

  @include e(content) {
    display: flex;
    flex-direction: column;
    @include declareVars(
      (
        padding: content-padding,
        gap: content-gap,
      )
    );
  }

  @include e(buttons) {
    display: flex;
    flex-wrap: wrap;
    @include declareVars(
      (
        gap: buttons-gap,
      )
    );
  }

  @include size(1) {
    @include setVars(
      (
        content-padding: getSpaceValue(1),
        content-border-radius: getRadiusValue(2),
        content-gap: getSpaceValue(1),
        buttons-gap: getSpaceValue(1),
      )
    );
  }
  @include size(2) {
    @include setVars(
      (
        content-padding: getSpaceValue(2),
        content-border-radius: getRadiusValue(2),
        content-gap: getSpaceValue(2),
        buttons-gap: getSpaceValue(2),
      )
    );
  }
  @include size(3) {
    @include setVars(
      (
        content-padding: getSpaceValue(3),
        content-border-radius: getRadiusValue(3),
        content-gap: getSpaceValue(3),
        buttons-gap: getSpaceValue(3),
      )
    );
  }
}
