@use '../../mixins' as *;

@include b(switch) {
  @include variant(surface) {
    @include setVars((
      background-color: getGrayColor(a3),
      box-shadow: 0 0 0 1px getGrayColor(a5),
    ));
    @include is(checked, true, true) {
      @include setVars((
        background-color: getAccentColor(9),
      ));
    }
  }
}
