@use '../../mixins/bem' as *;
@use '../../mixins/theme' as *;
@use '../../mixins/function' as *;
@use '../../mixins/config' as *;

@include b(switch) {
  @include variant(surface) {
    background-color: getGrayColor(a3);
    box-shadow: 0 0 0 1px getGrayColor(a5);
    @include is(checked, true, true) {
      background-color: getAccentColor(9);
    }
  }
}
